.cards.locations {
  & > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;

    > li {
      position: relative;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0 0 0 / 10%);
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-5px);

        > a {
          .btn.fancy {
            background-color: var(--blue);
          }
        }
      }
    }
  }

  .cards-card-image {
    height: 300px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cards-card-body {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(0 0 0 / 40%) 0%, rgba(0 0 0 0) 30%, rgba(0 0 0 0) 70%, rgba(0 0 0 / 40%) 100%);
    color: var(--light-color);
    text-shadow: 0 0 5px #000;

    .btn-container {
      margin-bottom: 0;
      text-align: center;

      + p {
        font-size: var(--body-font-size-m);
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
        color: var(--light-color);
        text-align: center;
      }

      a {
        font-size: var(--body-font-size-m);
        font-style: normal;
        font-family: var(--body-font-family);
        width: 90%;
        text-transform: uppercase;
        padding: 5px 5px 8px;
        border-radius: 0;
        white-space: normal;
      }
    }
  }

  @media (min-width: 600px) {
    .cards > ul {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}
