.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.heading p > em
 {  
  font-size: var(--body-font-size-m);
  font-style: normal;
}

@media (max-width: 767px) {
  .heading {
    margin-top: 20px;
  }
}

