.home-plans-template {
  h3,
  .default-content-wrapper {
    text-align: center;
  }

  .section.featured:not(:first-child) {
    padding: 30px 0;
  }

  main div .cards-wrapper {
    padding-top: 30px;
  }

  .cards > ul > li {
    min-height: 400px;
  }
}
