.top-banner {
  height: var(--banner-height);
  width: 100%;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  max-height: 60px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}

.top-banner.dismissed {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0;
}

.top-banner-wrapper {
  max-width: var(--max-content-width);
  height: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.top-banner-content {
  text-align: center;
  color: var(--light-color);
}

.top-banner-link {
  color: var(--light-color);
  text-decoration: none;
  font-weight: 600;
}

.top-banner-link:hover {
  text-decoration: underline;
}

.top-banner-wrapper > button {
  margin-left: 20px;
}

.top-banner-close:hover {
  background-color: rgb(0 0 0 / 10%);
}
