.accordion {
  padding: 30px 0;

  details summary {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%) rotate(135deg);
      width: 18px;
      height: 18px;
      border: 2px solid;
      border-width: 6px 6px 0 0;
      transition: transform 0.2s;
    }

    @media (max-width: 992px) {
      &::after {
        width: 14px;
        height: 14px;
        border-width: 3px 3px 0 0;
      }
    }
  }



  & .accordion-item {
    background-repeat: repeat-x;
    color: #333;
    border-color: #ddd;

    .accordion-item-label {
      background: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
      font-size: 24px;
      text-align: center;
    }
  }
}

.accordion details {
  border: 1px solid var(--dark-color);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 8px;
}

.accordion details summary {
  position: relative;
  padding: 0 16px;
  padding-right: 48px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}

.accordion details[open] summary {
  background-color: var(--light-color);
}

.accordion details summary:focus,
.accordion details summary:hover {
  background-color: var(--dark-color);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}



.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion details .accordion-item-body {
  padding: 0 16px;
}

.accordion details[open] .accordion-item-body {
  border-top: 1px solid var(--dark-color);
  background-color: var(--background-color);
}
