/* stylelint-disable declaration-block-single-line-max-declarations */

.btn-container {
  margin: 10px 0;
}

.btn, button {
  /* button colors scoped to button class */
  --btn: var(--dark-blue);
  --btn-hover: var(--blue-2);
  --btn-blue: var(--dark-blue);
  --btn-blue-hover: var(--gray);
  --btn-light-blue: var(--light-blue);
  --btn-light-blue-hover: var(--dark-slate-blue);
  --btn-dark-blue: var(--blue);
  --btn-dark-blue-hover: var(--dark-blue);
  --btn-yellow: var(--yellow);
  --btn-yellow-hover: var(--dark-blue);
  --btn-gray: var(--gray);
  --btn-gray-hover: var(--dark-gray);
  --btn-light-gray: var(--light-gray);
  --btn-light-gray-hover: var(--light-gray-dark);
  --btn-dark-gray: var(--gray);
  --btn-dark-gray-hover: var(--dark-gray);

  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 3px 12px;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  color: #fff;
  background: var(--btn);
  border: 1px solid var(--btn);
  border-radius: 5px;
  font-weight: 400 !important;
  font-size: 18px;
  transition: all 0.3s ease-in-out;

  &.small {
    padding: 3px 12px;
    font-size: 14px;
  }

  &.large {
    width: 35px;
  }

  &.fancy {
    font-family: minion-pro, serif;
    font-style: italic;
  }

  &.square {
    border-radius: 0;
  }

  &.rounded {
    border-radius: 50%;
  }

  @media (hover: hover) {
    &:hover {
      background: var(--btn-hover);
      border-color: var(--btn-hover)
    }
  }

  &.blue {
    background: var(--btn-blue);
    border-color: var(--btn-blue);

    @media (hover: hover) {
      &:hover {
        background: var(--btn-blue-hover);
        border-color: var(--btn-blue-hover)
      }
    }
  }

  &.light-blue {
    background: var(--btn-light-blue);
    border-color: var(--btn-light-blue);

    &:hover {
      background: var(--btn-light-blue-hover);
      border-color: var(--btn-light-blue-hover)
    }
  }

  &.dark-blue {
    background: var(--btn-dark-blue);
    border-color: var(--btn-dark-blue);

    &:hover {
      background: var(--btn-dark-blue-hover);
      border-color: var(--btn-dark-blue-hover)
    }
  }

  &.gray {
    background: var(--btn-gray);
    border-color: var(--btn-gray);

    &:hover {
      background: var(--btn-gray-hover);
      border-color: var(--btn-gray-hover)
    }
  }

  &.light-gray {
    background: var(--btn-light-gray);
    border-color: var(--btn-light-gray);

    &:hover {
      background: var(--btn-light-gray-hover);
      border-color: var(--btn-light-gray-hover)
    }
  }

  &.dark-gray {
    background: var(--btn-dark-gray);
    border-color: var(--btn-dark-gray-hover);

    &:hover {
      background: var(--btn-dark-gray-hover);
      border-color: var(--btn-dark-gray-hover)
    }
  }

  &.yellow {
    color: var(--dark-blue);
    background: var(--btn-yellow);
    border-color: var(--btn-yellow);

    &:hover {
      color: #fff;
      background: var(--btn-yellow-hover);
      border-color: var(--btn-yellow-hover)
    }
  }

  &.white {
    border-color: var(--white);
    background: transparent;

    &:hover {
      background: var(--btn-light-blue-hover);
      border-color: var(--btn-light-blue-hover)
    }
  }

  &.white-outlined {
    color: var(--text-color);
    border-color: var(--btn-light-gray);
    background: transparent;

    /*
     On mobile devices, buttons that are used for navigation, like the gallery that stay in
     view after being clicked, do not support hover. In this scenario we want to only apply
     the hover affect on non touch devices.
     */
    @media (hover: hover) {
      &:hover {
        background: var(--btn-light-blue-hover);
        border-color: var(--btn-light-blue-hover);
        color: white;
      }
    }
  }

  &.banner-blue {
    background: var(--blue-3);
    border-color: var(--blue-3);
    font-size: var(--body-font-size-s);
    font-weight: 400;

    &:hover {
      background: var(--dark-slate-blue);
      border-color: var(--dark-slate-blue);
      color: var(--background-color);
    }
  }

  &.close,
  &.prev,
  &.next {
    height: 32px;
    flex: 0;
    width: 34px;
    font-size: 20px;
  }

  &.close::after {
    content: "\00D7";
    position: relative;
    right: 2px;
  }

  &.prev::after { content: "\003C" }
  &.next::after { content: "\003E" }

  &.prev::after,
  &.next::after {
    position: relative;
    right: 2px;
  }

}
