/* stylelint-disable selector-id-pattern  */

@layer reset, theme, layout, templates;

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@import url("layouts.css");
@import url('templates.css');
@import url('buttons.css');
@import url('index.css');

@layer reset {
  :root {
    /* colors */
    --white: white;
    --link-color: #383838;
    --link-hover-color: #136ff6;
    --background-color: var(--white);
    --light-color: #eee;
    --dark-color: #ccc;
    --text-color: #383838;
    --color-grey: #333;
    --dark-blue: #003264;
    --dark-slate-blue: #303a4a;
    --light-blue: #4572b7;
    --blue: #0055b9;
    --blue-2: #005589;
    --blue-3: #4572b7;
    --gray: #423c36;
    --dark-gray: #181614;
    --input-focus-border:#66afe9;
    --yellow: #fcd700;
    --link-light-gray: #717171;
    --grey-bar: #e9eae9;
    --light-gray: #847b75;
    --light-gray-dark: #69625d;
    --light-gray-form: #555;

    /* fonts */
    --body-font-family: 'lato', 'lato-fallback';
    --heading-font-family: var(--body-font-family);
    --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

    /* body sizes */
    --body-font-size-xl: 22px;
    --body-font-size-l: 18px;
    --body-font-size-m: 16px;
    --body-font-size-s: 14px;
    --body-font-size-xs: 12px;

    /* heading sizes */
    --heading-font-size-xxl: 36px;
    --heading-font-size-xl: 30px;
    --heading-font-size-l: 24px;
    --heading-font-size-m: 18px;
    --heading-font-size-s: 14px;
    --heading-font-size-xs: 12px;

    /* sizes */
    --nav-height: 90px;
    --banner-height: 60px;
    --max-content-width: 1170px;
    --header-height: calc(var(--nav-height) + var(--banner-height));
  }

  @font-face {
    font-family: lato-fallback;
    size-adjust: 100.06%;
    ascent-override: 95%;
    src: local('Arial');
  }

  body {
    font-size: var(--body-font-size-m);
    margin: 0;
    font-family: var(--body-font-family);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    display: none;
  }

  body.appear {
    display: block;
  }

  body.mobile-nav-open {
    overflow: hidden !important;
  }

  header {
    height: var(--header-height);
    width: 100%;
  }

  helix-sidekick[pushdown] ~ header { top: 49px }

  strong {
    font-weight: 600;
  }

  h1, h2, h3,
  h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: 400;
    line-height: 1.1;
    margin-top: 3px;
    margin-bottom: 2px;
    scroll-margin: calc(var(--nav-height) + 1em);
  }

  h1 em {
    color: #665600;
    font-style: normal;
  }

  h1 {
    font-weight: 900;
    font-size: var(--heading-font-size-xxl);
    color: var(--light-blue);
  }
  h2 { font-size: var(--heading-font-size-xl) }
  h3 { font-size: var(--heading-font-size-l) }
  h4 { font-size: var(--heading-font-size-m) }
  h5 { font-size: var(--heading-font-size-s) }
  h6 { font-size: var(--heading-font-size-xs) }

  @media (max-width: 900px) {
    h1 { font-size: var(--heading-font-size-xl) }
    h2 { font-size: var(--heading-font-size-l) }
    h4 { font-size: var(--heading-font-size-m) }
  }

  dl, ol, ul, pre, blockquote {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  p {
    margin:0 0 10px;
  }

  code, pre {
    font-family: var(--fixed-font-family);
    font-size: var(--body-font-size-s);
  }

  code {
    padding: .125em;
  }

  pre {
    overflow: scroll;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: var(--body-font-size-s);
    line-height: 1.4286;
    color: var(--color-grey);
    word-break: break-all;
    word-wrap: break-word;
    background-color: var(--light-color);
    border: 1px solid var(--dark-color);
    border-radius: 4px;
  }

  main pre {
    background-color: var(--light-color);
    padding: 1em;
    border-radius: .25em;
    overflow-x: auto;
    white-space: pre;
  }


  /* screan reader only */
  .sr-only {
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0
  }

  .sr-only-focusable:active,.sr-only-focusable:focus {
    position:static;
    width:auto;
    height:auto;
    margin:0;
    overflow:visible;
    clip:auto
  }

  /* links */
  a:any-link {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 600;
  }

  a:hover {
    text-decoration: none;
  }

  main img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  main img.search-by-map {
    height: 60px;
    width: auto;
  }

  .icon {
    display: inline-block;
    height: 24px;
    width: 24px;
  }

  .icon img {
    height: 100%;
    width: 100%;
  }

  #news--inspiration {
    text-align: center;
    margin-top: 30px;
  }

  #news--inspiration em {
    color: var(--yellow);
  }

  #whats-new-stay-in-the-know {
    text-align: center;
    margin-bottom: 30px;
  }

  /* sections */
  main > .section > * {
    max-width: 1200px;
  }


  @media (width >= 900px) {
    .section > div {
      max-width: 1200px;
      margin: auto;
    }
  }

  /**
   Grey divider used for section titles.
  */
  div.grey-divider {
    background-color: var(--grey-bar);
    color: var(--link-color);
    padding: 10px !important;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin: 30px 0;
  }

  /* section metadata */
  main .section.light,
  main .section.highlight {
    background-color: var(--light-color);
  }

  .section.yellow {
    background-color: var(--yellow);
    margin-bottom: 20px;
    padding: 20px;
  }

  .section.yellow .default-content-wrapper {
    max-width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: var(--yellow);
    margin-bottom: 20px;
  }

  .section.yellow .default-content-wrapper h2 {
    font-size: 28px;
    font-weight: 900;
    color: var(--blue);
  }

  .section.yellow .default-content-wrapper p {
    font-size: 14px;
    margin: 0 0 10px;
  }

  .btn-primary {
    color: var(--background-color);
    background-color:var(--btn-bg-color);
    border-color: var(--btn-border);
  }

  .btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
    color: var(--background-color);
    background-color:#3071a9;
    border-color:#285e8e;
  }

  .btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
    background-image:none;
  }

  .btn-primary.disabled,.btn-primary[disabled],.btn-primary.disabled:hover,.btn-primary[disabled]:hover {
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border);
  }

  .disclaimer {
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    color: var(--link-color);
    padding-top: 30px !important;
  }

  .strike-through {
    text-decoration: line-through;
  }
}


/* pad all sections */
main > .section > *:not(.carousel-wrapper) {
  padding: 10px 20px;

  @media (max-width: 768px) {
    padding: 5px 10px;
  }
}

/* when the body contains gallery-active hide all children of the
main section but the first child, and the footer should be removed */
body.gallery-active {
  overflow: hidden;

  main {
    height: calc(100dvh - var(--header-height));
    overflow-y: auto;
  }


  main > *:not(:first-child),
  footer {
    display: none;
  }
}

@media (min-width: 600px) {
  .section.yellow {
    padding: 25px;
  }

  .section.yellow .default-content-wrapper {
    padding: 25px;
  }

  .section.yellow .default-content-wrapper h2 {
    font-size: 32px;
  }

  .section.yellow .default-content-wrapper p {
    font-size: 15px;
  }
}

@media (min-width: 900px) {
  .section.yellow {
    padding: 30px;
  }

  .section.yellow .default-content-wrapper {
    max-width: 975px;
    margin: 0 auto;
    padding: 30px;
  }

  .section.yellow .default-content-wrapper h2 {
    font-size: 36px;
  }

  .section.yellow .default-content-wrapper p {
    font-size: 16px;
  }
}

.no-scroll {
  overflow: hidden;
}
