:root {
  --button-height: 50px;
}

.image-gallery {
  display: grid;
  grid-auto-columns: 33.3%;
  grid-gap: 30px;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 180px;
  padding: 0 20px;
  width: 100%;

  picture {
    cursor: pointer;

    img {
      border-radius: 8px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  picture.large-sibling {
    grid-column-end: 1;
  }

  picture.large {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }
}

.overlay {
  display: none;

  &.show {
    display: flex;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .overlay-content {
   background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;

    .overlay-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;

      .title {
        flex: 1;
        text-align: center;
      }

      .close {
        flex: 0 0 auto;
        height: 50px;
        width: 52px;
        font-size: 28px;

        &::after {
          right: 0;
        }
      }
    }

    .nav-buttons {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 30px;

      button {
        flex: 0 0 auto;
        width: 52px;
        height: var(--button-height);

        &::after {
          right: 0;
        }

        &[disabled] {
          opacity: 0.5;
          cursor: not-allowed;
          pointer-events: none;
        }
      }
    }

    .image-container {
      padding-top: calc((9/16) * 100%);
      position: relative;
      overflow: hidden;
      text-align: center;


      picture {
        padding: 0 10px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(100%, 0);

        &.active {
          transform: translate(0, 0);
        }

        img {
          object-fit: contain;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          border-radius: 8px;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .image-gallery {
    grid-auto-rows: 230px;
  }
}

@media (max-width: 768px) {
  .image-gallery {
    grid-auto-rows: 130px;
    grid-gap: 10px;

    picture.large-sibling {
      grid-column-end: initial;
    }
  }

  .overlay .overlay-content {
    width: 100%;
    padding: 0;
    position: relative;

    & .image-container picture {
      padding: 0;
    }
  }

  .overlay button {
    transform: scale(0.7);
  }

  .overlay .overlay-content .nav-buttons {
    justify-content: center;
    gap: 30px;
    top: initial;
    bottom: calc(-1 * var(--button-height) - 20px);
  }
}

@media (max-width: 480px) {
  .image-gallery {
    grid-auto-rows: 90px;
    grid-gap: 10px;

    h1 {
      font-size: var(--body-font-size-l);
    }

    button {
      transform: scale(0.8);
    }
  }
}
